body
{
	font-family: sans-serif;
}

#mapcontainer
{
	position: absolute; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto; margin-right: auto; 
	background-color: white;
}

.locate
{
	top: 8em;
	left: 0.5em;
}

#segmentchooser
{
	position: absolute; 
	left: 50px;
	top: 10px;

}
table
{
	width: 100%;
}

td
{
	vertical-align: top;
}

#list
{
	position: absolute; 
	height: 200px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	overflow: scroll;
	font-size: 12px;
}

#link
{
	position: absolute; 
	bottom: 220px;
	right: 0;
	padding: 2px;
	background-color: white;
	font-size: 12px;

}

